@import "preloader";

.errors-tag,
.susses-tag,
.errors-category,
.susses-category {
    display: none;
}

.shop-sidebar-wrap .sidebar-widget-tag li a.active {
    background-color: var(--main-theme-color);
    border-color: var(--main-theme-color);
    color: #fff;
}

.left-sidebar .category-post li a.active {
    color: var(--main-theme-color);
}

.user_avatar {
    width: 150px !important;
    object-fit: cover;
    height: 150px
}


.price_range {

    #slider {

    }

    .values {
        text-align: center;
        margin-top: 20px;

    }

    .values input {
        width: 100px;
        padding: 5px;
        border: 1px solid #ddd;
        color: #222;
        font-size: 1.1em;
        text-align: center;
        font-family: "Exo 2", sans-serif;
    }

    .ui-slider {
        margin: 40px 8px;
        height: 5px;
        border: 1px solid #ddd;
        height: 5px;
        background-color: #fefefe;
        outline: none;
        display: block;
        position: relative;
        border-radius: 2px;
        box-shadow: 0 1px 1px #fff, inset 0 1px 1px #ddd;
    }

    .ui-slider .ui-slider-handle {
        border-radius: 10em;
        top: 0;
        position: absolute;
        z-index: 2;
        width: 20px;
        height: 20px;
        top: -8px;
        margin-left: -10px;
        outline: none;
        cursor: default;
        border: 1px solid #ddd;
        box-shadow: 0 0 1px #999;
        background-color: #f1f1f1;
    }

    .ui-slider .ui-slider-handle span {
        color: var(--main-theme-color);
        display: inline-block;
        transform: translate(-25%, -20px);
        text-align: center;
        width: 40px;

    }

    .ui-slider .ui-slider-range {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1;
        font-size: 0.7em;
        display: block;
        border: 0;
        background-color: #f79837;
        opacity: 0.8;
    }

    .ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
        filter: inherit;
    }

    .ui-slider .ui-slider-range-min {
        left: 0;
    }

    .ui-slider .ui-slider-range-max {
        right: 0;
    }

    .switch-wrap {
        margin-top: 30px;
    }

    .switch {
        position: relative;
        width: 55px;
    }

    .switch label {
        width: 55px;
        height: 23px;
        position: absolute;
        background-color: #999;
        top: 0;
        left: 0;
        border-radius: 50px;
    }

    .switch input[type=checkbox] {
        visibility: hidden;
    }

    .switch label:after {
        content: "";
        width: 21px;
        height: 21px;
        border-radius: 50px;
        position: absolute;
        top: 1px;
        left: 1px;
        transition: all 0.1s;
        background-color: white;
    }

    .switch input[type=checkbox]:checked + label {
        background-color: green;
        opacity: 0.8;
    }

    .switch input[type=checkbox]:checked + label:after {
        left: 33px;
    }


}


.top-header {
    background-color: #f7f8fa;

    .top_header_dropdown {
        position: relative;


        .current {
            padding: 0;
            color: #000;
            margin-bottom: 12px;
            font-weight: 600;
            font-size: 14.5px;
            cursor: pointer;
        }


        .dropdown {
            position: absolute;
            padding: 0 20px;
            padding-top: 10px;
            background: #FFF;
            box-shadow: 0 3px 11px 0 rgb(0 0 0 / 10%);
            transform: perspective(600px) rotateX(-90deg);
            transform-origin: 0 0 0;
            left: -25px;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            z-index: 99;

            li {
                a {
                    padding: 0;
                    color: #000;
                    margin-bottom: 12px;
                    font-weight: 600;
                    font-size: 14.5px;
                    display: flex;
                    transition: 0.3s;

                    &:hover {
                        color: #f79837;
                        transition: 0.3s;
                    }

                    img {
                        margin-right: 5px;
                    }
                }
            }

            box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
        }

        &#lang-checker {
            img {
                width: 20px;
            }
        }

        &:hover {
            .dropdown {
                opacity: 1;
                visibility: visible;
                transform: perspective(600px) rotateX(
                        0deg
                );
            }
        }
    }
}


.product_rating {

    @mixin star-rating( $filled-color: #F9BF3B, $empty-color: #444, $size: 45px, ) {
        $star--filled: ★;
        $star--empty: ☆;

        > * {
            float: right;
        }
        // optional initial pulse of stars
        @at-root {
            @keyframes pulse {
                50% {
                    color: lighten($empty-color, 10%);
                    text-shadow: 0 0 15px lighten($empty-color, 20%);
                }
            }
        }
        label {
            height: 40px;
            width: 20%;
            display: block;
            position: relative;
            cursor: pointer;
            @for $i from 5 through 1 {
                &:nth-of-type(#{$i}):after {
                    $animation-delay: $i * .05s;
                    animation-delay: $animation-delay;
                }
            }

            &:after {
                transition: all 0.4s ease-out;
                -webkit-font-smoothing: antialiased;
                position: absolute;
                content: '#{$star--empty}';
                color: $empty-color;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                font-size: $size;
                animation: 1s pulse ease;
            }

            &:hover:after {
                color: lighten($empty-color, 10%);
                text-shadow: 0 0 15px lighten($empty-color, 10%);
            }
        }
        input {
            display: none;

            &:checked {
                + label:after,
                ~ label:after {
                    content: '#{$star--filled}';
                    color: $filled-color;
                    text-shadow: 0 0 20px $filled-color;
                }
            }
        }
    }

    .rating_wrp {
        max-width: 220px;
        @include star-rating();
    }

}



