@import "preloader";

.user_account {
    a {
        img {
            display: block;
            width: 70px;
            margin: 5px auto;
            border-radius: 50%;
        }

        color: #ffffff;
    }

}

.logout_dash {

    &:hover {
        background: #f79837;
        color: white;
        transition: all 0.3s ease-in-out 0.1s;
    }

    i {
        font-size: 14px;
        text-align: center;
        width: 25px;
    }

    border: 1px solid #E8E8E8;
    border-top: none;
    color: #212121;
    font-weight: 500;
    font-size: 15px;
    display: block;
    padding: 18px 15px;
    text-transform: uppercase;
    text-align: left;
    background: none;
    width: 100%;
}

.logo_head {

    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #f79837;
    font-size: xx-large;
}


textarea.is-invalid {
    border-color: #dc3545 !important;

}


.owl-carousel .owl-item img {
    height: clamp(330px, 370px, 400px);
    object-fit: cover;
}

.message-action {
    position: relative;
    cursor: pointer;

    &:hover {
        .content {
            display: block;
        }
    }

    .content {
        position: absolute;
        -webkit-box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: -1px 4px 8px 0px rgba(34, 60, 80, 0.2);
        width: 345px;
        left: -267px;
        bottom: -85px;
        background: white;
        position: absolute;
        padding: 11px;
        display: none;
        z-index: 10;
        transition: .4s;
    }
}

.sidebar-admin {
    margin-top: 30px;
}

.drop_down_box {
    margin-bottom: 20px;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 7px;

    .drop_down_trigger {
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;

        i {
            transition: .3s;
        }
    }

    .drop_down_container {
        display: none;
        border-top: 1px solid #ced4da;
        width: 100%;
        padding: 10px 0;

        .list-container {
            max-height: 300px;
            overflow-y: scroll;

            .form-check {
                * {
                    &:hover {
                        cursor: pointer;
                    }
                }

            }
        }
    }

    &.drop_active {
        .drop_down_container {
            display: block;
            transition: .3s;
        }

        .drop_down_trigger {
            i {
                transform: rotate(180deg);
                transition: .3s;
            }
        }
    }
}

.postImage {
    cursor: pointer;
    border-radius: 0.25rem;

    &.is-invalid {
        border: 1px solid #dc3545;
    }

}

.has-dropdown-custom {
    .sub-menu-custom {
        display: none;
        margin-bottom: 15px;
    }

    .custom-dropdown-trigger {
        i {

            transition: .3s;
        }
    }


    &.active {
        .sub-menu-custom {
            display: block;
        }

        .custom-dropdown-trigger {
            i {
                transform: rotate(180deg) translate(0, 3px);
                transition: .3s;
            }
        }
    }
}

.errors-category,
.susses-category {
    display: none;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #6d6d6d;
}
