@import "preloader";
.errors-tag,
.susses-tag,
.errors-category,
.susses-category {
    display: none;
}

.shop-sidebar-wrap .sidebar-widget-tag li a.active {
    background-color: var(--main-theme-color);
    border-color: var(--main-theme-color);
    color: #fff;
}
.left-sidebar .category-post li a.active{
    color: var(--main-theme-color);
}
