@charset "UTF-8";
.cssload-container * {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.cssload-container {
  margin: 17px auto 0 auto;
  max-width: 475px;
}

.cssload-container ul li {
  list-style: none;
}

.cssload-flex-container {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  flex-direction: row;
  -o-flex-direction: row;
  -moz-flex-direction: row;
  flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  justify-content: space-around;
}

.cssload-flex-container li {
  padding: 8px;
  height: 85px;
  width: 85px;
  margin: 25px 17px;
  position: relative;
  text-align: center;
}

.cssload-loading-center {
  display: inline-block;
  position: absolute;
  background: rgba(247, 152, 55, 0.83);
  height: 25px;
  width: 25px;
  left: 31px;
  top: 31px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  animation: pulse 2.2s ease infinite;
  -o-animation: pulse 2.2s ease infinite;
  -ms-animation: pulse 2.2s ease infinite;
  -webkit-animation: pulse 2.2s ease infinite;
  -moz-animation: pulse 2.2s ease infinite;
}

.cssload-loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-top: 3px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.cssload-loading:after, .cssload-loading:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  display: block;
  top: 0;
  background: rgba(247, 152, 55, 0.78);
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  animation-delay: -0.11s;
  -o-animation-delay: -0.11s;
  -ms-animation-delay: -0.11s;
  -webkit-animation-delay: -0.11s;
  -moz-animation-delay: -0.11s;
}

.cssload-loading:after {
  right: 0;
  animation: square-tr 4.4s ease infinite;
  -o-animation: square-tr 4.4s ease infinite;
  -ms-animation: square-tr 4.4s ease infinite;
  -webkit-animation: square-tr 4.4s ease infinite;
  -moz-animation: square-tr 4.4s ease infinite;
  animation-delay: 0.275s;
  -o-animation-delay: 0.275s;
  -ms-animation-delay: 0.275s;
  -webkit-animation-delay: 0.275s;
  -moz-animation-delay: 0.275s;
}

.cssload-loading:before {
  animation: square-tl 4.4s ease infinite;
  -o-animation: square-tl 4.4s ease infinite;
  -ms-animation: square-tl 4.4s ease infinite;
  -webkit-animation: square-tl 4.4s ease infinite;
  -moz-animation: square-tl 4.4s ease infinite;
  animation-delay: 0.275s;
  -o-animation-delay: 0.275s;
  -ms-animation-delay: 0.275s;
  -webkit-animation-delay: 0.275s;
  -moz-animation-delay: 0.275s;
}

.cssload-loading.cssload-two {
  position: relative;
  top: -68px;
}

.cssload-loading.cssload-two:after, .cssload-loading.cssload-two:before {
  bottom: 0;
  top: initial;
}

.cssload-loading.cssload-two:after {
  animation: square-br 4.4s ease infinite;
  -o-animation: square-br 4.4s ease infinite;
  -ms-animation: square-br 4.4s ease infinite;
  -webkit-animation: square-br 4.4s ease infinite;
  -moz-animation: square-br 4.4s ease infinite;
  animation-direction: reverse;
  -o-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
}

.cssload-loading.cssload-two:before {
  animation: square-bl 4.4s ease infinite;
  -o-animation: square-bl 4.4s ease infinite;
  -ms-animation: square-bl 4.4s ease infinite;
  -webkit-animation: square-bl 4.4s ease infinite;
  -moz-animation: square-bl 4.4s ease infinite;
  animation-direction: reverse;
  -o-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
}

@keyframes square-tl {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 53.5px);
  }
  50% {
    transform: translate(53.5px, 53.5px);
  }
  75% {
    transform: translate(53.5px, 0);
  }
}
@-webkit-keyframes square-tl {
  0% {
    -webkit-transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 53.5px);
  }
  50% {
    -webkit-transform: translate(53.5px, 53.5px);
  }
  75% {
    -webkit-transform: translate(53.5px, 0);
  }
}
@keyframes square-bl {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -53.5px);
  }
  50% {
    transform: translate(53.5px, -53.5px);
  }
  75% {
    transform: translate(53.5px, 0);
  }
}
@-webkit-keyframes square-bl {
  0% {
    -webkit-transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, -53.5px);
  }
  50% {
    -webkit-transform: translate(53.5px, -53.5px);
  }
  75% {
    -webkit-transform: translate(53.5px, 0);
  }
}
@keyframes square-tr {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-53.5px, 0);
  }
  50% {
    transform: translate(-53.5px, 53.5px);
  }
  75% {
    transform: translate(0, 53.5px);
  }
}
@-webkit-keyframes square-tr {
  0% {
    -webkit-transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-53.5px, 0);
  }
  50% {
    -webkit-transform: translate(-53.5px, 53.5px);
  }
  75% {
    -webkit-transform: translate(0, 53.5px);
  }
}
@keyframes square-br {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-53.5px, 0);
  }
  50% {
    transform: translate(-53.5px, -53.5px);
  }
  75% {
    transform: translate(0, -53.5px);
  }
}
@-webkit-keyframes square-br {
  0% {
    -webkit-transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-53.5px, 0);
  }
  50% {
    -webkit-transform: translate(-53.5px, -53.5px);
  }
  75% {
    -webkit-transform: translate(0, -53.5px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes pulse {
  0%, 100% {
    transform: scale(inherit) rotate(45deg);
  }
  75% {
    transform: scale(0.25) rotate(45deg);
  }
}
@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: scale(inherit) rotate(45deg);
  }
  75% {
    -webkit-transform: scale(0.25) rotate(45deg);
  }
}
.errors-tag,
.susses-tag,
.errors-category,
.susses-category {
  display: none;
}

.shop-sidebar-wrap .sidebar-widget-tag li a.active {
  background-color: var(--main-theme-color);
  border-color: var(--main-theme-color);
  color: #fff;
}

.left-sidebar .category-post li a.active {
  color: var(--main-theme-color);
}

.user_avatar {
  width: 150px !important;
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
}

.select_width {
  width: 32px;
}

.product_gallery .button-upload-txt:hover {
  cursor: pointer;
}
.product_gallery .upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.product_gallery .upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.product_gallery .upload__img-box {
  width: 228px;
  padding: 0 10px;
  margin-bottom: 12px;
  cursor: pointer;
}
.product_gallery .upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}
.product_gallery .upload__img-close:after {
  content: "✖";
  font-size: 14px;
  color: white;
}
.product_gallery .img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}

.price_range .values {
  text-align: center;
  margin-top: 20px;
}
.price_range .values input {
  width: 100px;
  padding: 5px;
  border: 1px solid #ddd;
  color: #222;
  font-size: 1.1em;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}
.price_range .ui-slider {
  margin: 40px 8px;
  height: 5px;
  border: 1px solid #ddd;
  height: 5px;
  background-color: #fefefe;
  outline: none;
  display: block;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 1px #fff, inset 0 1px 1px #ddd;
}
.price_range .ui-slider .ui-slider-handle {
  border-radius: 10em;
  top: 0;
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  top: -8px;
  margin-left: -10px;
  outline: none;
  cursor: default;
  border: 1px solid #ddd;
  box-shadow: 0 0 1px #999;
  background-color: #f1f1f1;
}
.price_range .ui-slider .ui-slider-handle span {
  color: var(--main-theme-color);
  display: inline-block;
  transform: translate(-25%, -20px);
  text-align: center;
  width: 40px;
}
.price_range .ui-slider .ui-slider-range {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background-color: #f79837;
  opacity: 0.8;
}
.price_range .ui-slider.ui-state-disabled .ui-slider-handle, .price_range .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
.price_range .ui-slider .ui-slider-range-min {
  left: 0;
}
.price_range .ui-slider .ui-slider-range-max {
  right: 0;
}
.price_range .switch-wrap {
  margin-top: 30px;
}
.price_range .switch {
  position: relative;
  width: 55px;
}
.price_range .switch label {
  width: 55px;
  height: 23px;
  position: absolute;
  background-color: #999;
  top: 0;
  left: 0;
  border-radius: 50px;
}
.price_range .switch input[type=checkbox] {
  visibility: hidden;
}
.price_range .switch label:after {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50px;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: all 0.1s;
  background-color: white;
}
.price_range .switch input[type=checkbox]:checked + label {
  background-color: green;
  opacity: 0.8;
}
.price_range .switch input[type=checkbox]:checked + label:after {
  left: 33px;
}

.top-header {
  background-color: #f7f8fa;
}
.top-header .top_header_dropdown {
  position: relative;
}
.top-header .top_header_dropdown .current {
  padding: 0;
  color: #000;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 14.5px;
  cursor: pointer;
}
.top-header .top_header_dropdown .dropdown {
  position: absolute;
  padding: 0 20px;
  padding-top: 10px;
  background: #FFF;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0 0 0;
  left: -25px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 99;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.top-header .top_header_dropdown .dropdown li a {
  padding: 0;
  color: #000;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 14.5px;
  display: flex;
  transition: 0.3s;
}
.top-header .top_header_dropdown .dropdown li a:hover {
  color: #f79837;
  transition: 0.3s;
}
.top-header .top_header_dropdown .dropdown li a img {
  margin-right: 5px;
}
.top-header .top_header_dropdown#lang-checker img {
  width: 20px;
}
.top-header .top_header_dropdown:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg);
}

.product_rating .rating_wrp {
  max-width: 220px;
}
.product_rating .rating_wrp > * {
  float: right;
}
@keyframes pulse {
  50% {
    color: #5e5e5e;
    text-shadow: 0 0 15px #777777;
  }
}
.product_rating .rating_wrp label {
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}
.product_rating .rating_wrp label:nth-of-type(5):after {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.product_rating .rating_wrp label:nth-of-type(4):after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.product_rating .rating_wrp label:nth-of-type(3):after {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.product_rating .rating_wrp label:nth-of-type(2):after {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.product_rating .rating_wrp label:nth-of-type(1):after {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.product_rating .rating_wrp label:after {
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "☆";
  color: #444;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 45px;
  -webkit-animation: 1s pulse ease;
          animation: 1s pulse ease;
}
.product_rating .rating_wrp label:hover:after {
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}
.product_rating .rating_wrp input {
  display: none;
}
.product_rating .rating_wrp input:checked + label:after,
.product_rating .rating_wrp input:checked ~ label:after {
  content: "★";
  color: #F9BF3B;
  text-shadow: 0 0 20px #F9BF3B;
}
